username = root
database = redcap
password = root
hostname = db

; do incremental backups
increment_mode = 1
increment_mode_min_rows = 10000

; do range bakcups
range_mode = 1

; do other table backups
other_tables = 1

; test mode - just list the commands
skip_dumps = 1

dump_working_path = ./dumps/

; move dump to complete path
move_dumps = 1
dump_complete_path = ./dumps/done/